{{#*inline "page"}}

<section id="crumbs">
  <h4>Path: 
    {{#each crumbs}}
      {{#if @index }}
      /
      {{/if}}
      <a href="/fs/{{this.1}}/files">{{ this.0 }}</a>
    {{/each}}
    - <a href="/fs/{{folder_path}}">details</a>
  </h4>
</section>
<section id="file-list">
  <ul>
    {{#if items}}
      {{#each items}}
        {{#if this.is_folder }}
          <li class="folder">{{ this.name }} <a href="/fs/{{this.path}}/files">open</a> <a href="/fs/{{this.path}}">details</a></li>
        {{else}}
          <li class="file">{{ this.name }} <a href="/fs/{{../folder_path}}/files/{{this.name}}">details</a></li>
        {{/if}}
      {{/each}}
    {{else}}
      <div>Folder is empty</div>
    {{/if}}
  </ul>
</section>
<section id="upload">
  <h4>Upload File</h4>
  <form action="/fs/{{folder_path}}/files" method="post" enctype="multipart/form-data">
    <input type="file" name="file" multiple>
    <input type="submit">
  </form>
  <h4>New Folder</h4>
  <form action="/fs/{{folder_path}}" method="post">
    <input type="text" name="folder_name">
    <input type="submit">
  </form>
</section>

{{/inline}}
{{> layout}}
