{{#*inline "page"}}

<section id="crumbs">
  <h4>Path: 
    {{#each crumbs}}
      {{#if @index }}
      /
      {{/if}}
      <a href="/fs/{{this.0}}/files">{{ this.1 }}</a>
    {{/each}}
      / {{file_name}}
  </h4>
</section>
<section id="details">
  <ul>
    {{#if items}}
      {{#each items}}
          <li class="item-detail">{{ this.name }}: {{ this.value }}</li>
      {{/each}}
    {{else}}
      <div>No details to display</div>
    {{/if}}
  </ul>
</section>
<section id="detail-actions">
  <h4>Download</h4>
  <form action="/fs/{{folder_path}}/files/{{file_name}}/download" method="post">
    <input type="submit">
  </form>
  <h4>Extract</h4>
  <form action="/fs/{{folder_path}}/files/{{file_name}}/extract" method="post">
    <input type="submit">
  </form>
  <h4>Rename</h4>
  <form action="/fs/{{folder_path}}/files/{{file_name}}/rename" method="post">
    <input type="text" name="file_name">
    <input type="submit">
  </form>
  <h4>Delete</h4>
  <form action="/fs/{{folder_path}}/files/{{file_name}}/remove" method="post">
    <input type="submit">
  </form>
</section>

{{/inline}}
{{> layout}}
