{{#*inline "page"}}

<section id="crumbs">
  <h4>Path: 
    {{#each crumbs}}
      {{#if @index }}
      /
      {{/if}}
      <a href="/fs/{{this.1}}/files">{{ this.0 }}</a>
    {{/each}}
    - <a href="/fs/{{folder_path}}/files">open</a>
  </h4>
</section>
<section id="details">
  <ul>
    {{#if items}}
      {{#each items}}
          <li class="item-detail">{{ this.name }}: {{ this.value }}</li>
      {{/each}}
    {{else}}
      <div>No details to display</div>
    {{/if}}
  </ul>
</section>
<section id="detail-actions">
  <h4>Zip</h4>
  <form action="/fs/{{folder_path}}/zip" method="post">
    <input type="submit">
  </form>
  <h4>Rename</h4>
  <form action="/fs/{{folder_path}}/rename" method="post">
    <input type="text" name="folder_name">
    <input type="submit">
  </form>
  <h4>Delete</h4>
  <form action="/fs/{{folder_path}}/remove" method="post">
    <input type="submit">
  </form>
</section>

{{/inline}}
{{> layout}}
